<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ruralmanagement.mapper.ProduceMapper">
    <resultMap id="produceMap" type="com.example.ruralmanagement.entity.Produce">
        <id property="produceId" column="produce_id"/>
        <result property="produceName" column="produce_name"/>
        <result property="produceDescribe" column="produce_describe"/>
        <result property="producePrice" column="produce_price"/>
        <result property="produceImage" column="produce_image"/>
        <result property="produceCreateTime" column="produce_create_time"/>
        <association property="user" javaType="com.example.ruralmanagement.entity.User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
            <result property="userSex" column="user_sex"/>
            <result property="userAge" column="user_age"/>
            <result property="userPhone" column="user_phone"/>
            <result property="userEmail" column="user_email"/>
            <!--<result property="userPassword" column="user_password"/>-->
            <result property="userCreateTime" column="user_create_time"/>
            <result property="userRole" column="user_role"/>
            <result property="userAvatarUrl" column="user_avatar_url"/>
        </association>
    </resultMap>

    <!--联表查询 + 模糊查询 + 条件查询-->
    <select id="queryAll" resultMap="com.example.ruralmanagement.mapper.ProduceMapper.produceMap">
        select p.*,u.* from tb_produce p
        left join tb_user u on p.user_id = u.user_id
        where 1=1
        <if test="map.user_id!=null">
            and p.user_id = #{map.user_id}
        </if>
          <if test="map.produce_name!=null and map.produce_name!=''">
              and p.produce_name = #{map.produce_name}
          </if>
    </select>

</mapper>
